body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: red;
}

.polka-dots {
    --polka-dot-color: hsl(0, 0%, 100%, 15%);
    --polka-dot-size: 2px;
    --polka-dot-spacing: 50px;
    --polka-dot-position: 0 0;

    background-position: var(--polka-dot-position);
    background-image: radial-gradient(var(--polka-dot-color) var(--polka-dot-size), transparent var(--polka-dot-size));
    background-size: var(--polka-dot-spacing) var(--polka-dot-spacing);
}